body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-logo {
  width: 60px;
  padding: 10px;
}

.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px 0px 10px;
      box-shadow: 1px 0px 10px 1px rgb(184, 184, 184);
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.content {
  padding: 20px;
}

.footer {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 10px;
  background-color: #eeeeee;
}