body {
  margin: 0;
  background-color: #282D35;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #21222a;
      color: white;
      padding: 10px;
}

.nav-logo {
  width: 45px;
  padding: 10px;
}

.nav-title {
  margin-right: auto;
  color: #61DAFB;
  font-weight: bold;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
} 

.nav-items {
  list-style: none;
  display: flex;
  margin: 0px;
  color: #DEEBF8;
}

.nav-items > li {
  padding: 10px;
}

.content {
  padding: 20px 40px;
  color: white;
  max-width: 100%;
}

.content-title {
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
}

.content-list {
  font-size: 16px;
  line-height: 19px;
}

.content-list > li {
  line-height: 19px;
  padding-block: 10px;
}

.content-list > li::marker {
  font-size: 1.4 rem;
  color: #61DAFB
}

.footer {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 10px;
  color: #DEEBF8;
  background-color: #21222a;
}