body {
  margin: auto;
  max-width: 300px;
  background-color: #eeece2;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: 300px;
}

.picture {
  width: 300px;
}

.content {
  background-color: #F5F5F5;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
}

.name {
  font-size: 25px;
  color: #2B283A;
  margin: 7px 0px 2px 0px;
}

.title {
  font-weight: normal;
  font-size: 12.8px;
  color: #F47D27;
  margin: 0px;
}

.site {
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
  margin-bottom: 10px;
  margin-top: 5px;
}

.email {
  background-color: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 15px 0px 15px;
}

.email-logo {
  width: 16px;
  padding: 7px 10px;
}

.email-p {
  margin: 0;
  font-size: 14px;
  color: #374151;
  margin: 0px 8px;
}

.about {
  padding: 15px;
}

.about-title {
  text-align: left;
  font-size: 16px;
  line-height: 150%;
  color: #2B283A;
  margin-bottom: 0px;
}

.about-para {
  text-align: left;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #4A4E74;
  margin-top: 0px;
}

.footer {
  background-color: #e2dfd9;
  display: block;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin: auto;
}

.icon {
  width: 25px;
  padding: 20px 12px;
}